@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

input, button, textarea, select {
    font: inherit;
}

button {
    border: none;
    padding: 0;
    background: none;
}

body {
    /* primary colors */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    
    /* dark color palette (default) */
    --toggle-bg: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);
    --toggle-bg-hover: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);
    --toggle-slider: hsl(228, 25%, 27%);
    --toggle-text-hover: hsl(0, 0%, 100%);
    --body-bg: hsl(230, 17%, 14%);
    --top-bg-pattern: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --card-bg-hover: hsl(228, 25%, 27%);
    --text-primary: hsl(0, 0%, 100%);
    --text-secondary: hsl(228, 34%, 66%);

    min-height: 100vh;
    background: var(--body-bg);
}

body.light {
    /* light color palette */
    --toggle-bg: hsl(230, 22%, 74%);
    --toggle-bg-hover: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);    
    --toggle-slider: hsl(228, 46%, 96%);
    --toggle-text-hover: hsl(228, 12%, 44%);
    --body-bg: hsl(0, 0%, 100%);
    --top-bg-pattern: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --card-bg-hover: hsl(228, 33%, 91%);
    --text-primary: hsl(230, 17%, 14%);
    --text-secondary: hsl(228, 12%, 44%);
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.118rem;
    color: var(--text-primary);
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.816rem;
    color: var(--text-primary);
}

h3, label {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.059rem;
    color: var(--text-secondary);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.25rem 1rem;
}
